@font-face {
    font-family: Poppins;
    src: url("./media/font/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: PoppinReg;
    src: url("./media/font/Poppins/Poppins-Regular.ttf");
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* common style for versions */
.signupBtnStyl{
    background: linear-gradient(to right,#AF43FF,#FA6E3B);
    cursor: pointer;
}
.loginBthStyl{
    background: linear-gradient(to right,#B79039,#FF8545);
    cursor: pointer;
}


html{
    font-size: 10px;
}

/* Blank Display */
@media(min-width:1441px){
    body{
        display: none;
    }
}
@media(max-width:319px){
    body{
        display: none;
    }
}

/* destop-version */
@media (min-width:769px) and (max-width: 1440px){
    header{
        /* height: 680px; */
        background: linear-gradient(60deg,#4839B7,#6ED0B5);;
    }
    nav{
        display: flex;
        justify-content: flex-end;
    }
    .loginButton::after{
        content: "\e909";
        font-family: "icomoon";
        color: white;
        font-size: 6.8rem;
        cursor: pointer;
    }
    .loginButton{
        display: flex;
        align-items: center;
        margin-right: 36px;
        margin-top: 40px;
    }
    .btnStyle{
        border: none;
        border-radius: 25px;
        width: 116px;
        height: 49px;
        margin-right: 10px;
        color: #ffffff;
        font-family: "Poppins";
        font-size: 1.8rem;
    }
    .headerContent{
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .headText{
        margin-top: 18px;
        margin-left: 121px;
        /* margin-left: calc(100%-167px); */
        position: relative;
    }

    .headTxtEl{
        font-family: "Poppins";
        font-size: 8rem;
        color: white;
        width: 625px;
        background-image: url("./media/dottedGrid.png");
        background-repeat: no-repeat;
        background-position: 39px 0px;
        background-size: 240px 240px;
    }

    .dottedGrd{
        position: absolute;
        top: 0;
        left: 39.5px;
    }

    .lapCont{
        position: relative;
        margin-bottom: 98px;
    }
    .lineIcon{
        position: absolute;
        top: 0px;
        right: 0px;
    }
    /* .sectionTwo{
        height: 2475px;
    } */
    .secTwoContent{
        margin: auto;
        max-width: 990px;
        margin-top: 135.2px;
    }
    .secTwoContent h2{
        max-width: 988px;
        height: 174px;
        font-family: "Poppins";
        font-size: 6rem;
        text-align: center;
        color: #FDA145;
    }
    .cardContainer{
        display: flex;
        justify-content: center;
        margin-top: 90px;
        margin-bottom: 118px;
    }

    .printCard{
        max-width: 415px;
        height: 382px;
        border: 1px solid black;
        padding: 40px;
        padding-top: 84px;
        background-color: #FAFAFA;
        border: 0;
        position: relative;
        box-shadow: 0px 53px 73px #232d3c2f;
        /* box-shadow: 0px 53px 76px #000000; */
    }

    .prCard{
        margin-right: 86px;
    } 
    .pcardTitle{
        color: #504450;
        font-size: 3.6rem;
        font-family: "Poppins";
    }
    .pcardCont{
        font-size: 2rem;
        font-family: 'PoppinReg';
        width: 313px;
    }

    .pcardImg{
        position: absolute;
        top: 0;
        left: 40px;
    }
    
    .cardBtn{
        width: 180px;
        height: 49px;
        font-family: "Poppins";
        font-size: 1.8rem;
        border-radius: 25px;
        border: 0;
        color: white;
        cursor: pointer;
    }
    .cardBtnStl1{
        margin-top: 23px;
        background-image: linear-gradient(to right,#4A90FF,#FA3BB1);
    }
    .cardBtnStl2{
        margin-top: 48px;
        background-image: linear-gradient(to right,#B79039,#FF8545);
    }
    .developmentSection{
        background-color: #6430B7;
    }
    .containersec3{
        margin: auto;
        max-width: 907px;
        /* max-width: 800px; */
        padding-top: 50px;
    }
    .sectionTitle3{
        color: white;
        font-family: "Poppins";
        font-size: 5rem;
        width: 592px;
        line-height: 60px;
    }
    .contentSection3{
        color: white;
        font-family: "PoppinReg";
        font-size: 1.8rem;
        margin-top: 30px;
    }   
    
    .actionLinkContainer{
        display: flex;
        position: relative;
        margin-top: 23px;
    }
    
    .actionBtnStl{
        display: block;
        background-color: transparent;
        border: 1px solid black;
        border-radius: 13px;
        font-family: 'PoppinReg';
        font-size: 2rem;
        color: white;
        text-decoration: none;
        position: relative;
        margin-right: 15px;
        margin-top: 10px;
    }
    
    .btnCont{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    
    
    .abst1{
        border: 1px solid #FFC04A;
        width: 235px;
        height: 69px;
    }
    
    .abst2{
        border: 1px solid #2AFAC2;
        width: 284px;
        height: 69px;
    }
    
    .abst3{
        border: 1px solid #45E2FF;
        width: 321px;
        height: 69px;
        /* margin-top: 30px; */
    }
    .linkBtnTyp{
        margin-top: 26px;
        margin-bottom: 73px;
        padding: 10px;
        width: 180px;
        height: 49px;
        border: none;
        border-radius: 25px;
        color: #311A8B;
        background-image: linear-gradient(to right, #39B2B7,#45E2FF);
        font-family: "Poppins";
        font-size: 1.8rem;
        cursor: pointer;
    }


    .footer-content{
        margin:auto;
        width:90%;
    }
    .footerSection{
        display: flex;
        justify-content: space-between;
        margin-top: 45px;
    }

    .FooterLinkContainer1{
        width: 300px;
    }

    .relativeLink{
        display: inline-block;
        border: 1px solid #707070;
        text-decoration: none;
        position: relative;
        font-family: "PoppinReg";
        font-size: 1.1rem;
        border-radius: 12px;
        color: #504450;
    }

    .rlstl1{
        width: 210px;
        height: 20px;
    }

    .rlstl2{
        width: 140px;
        height: 21px;
    }
    .rlstl3{
        width: 150px;
        height: 21px;
    }
    .rlstl4{
        width: 170px;
        height: 21px;
    }
    .rlstl5{
        width: 130px;
        height: 21px;
        color: #504450;
        background-color:#EFEDED;
        border: none;
        margin-top: 10px;
    }

    .linkTxt{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    .linkedListCont{
        display: flex;
        justify-content: space-around;
        width: 70%;
    }

    .linkList{
        list-style-type: none;
        font-family: "Poppins";
        font-size: 2rem;
    }

    .linkList li{
        font-family: "PoppinReg";
        font-size: 1.6rem;
    }

    .joinButton{
        width: 208px;
        height: 52px;
        color: #FA3B6E;
        background-color: #ffffff;
        border: 1px solid #FF4A4A;
        border-radius: 30px;
        font-family: "Poppins";
        font-size: 1.8rem;
    }
    .socialLinks{
        display: flex;
        justify-content: space-around;
        width: 331px;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .font-border{
        border: 1px solid currentColor;
        width: 50px;
        height: 50px;
        margin: 10px;
        position: relative;
        border-radius: 50%;
    }

    .font-border{
        border: 1px solid currentColor;
        width: 50px;
        height: 50px;
        margin: 10px;
        position: relative;
        /* border-radius: 50%; */
    }

    .font-icon{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 2rem;
    }

    .border1{
        border: 1px solid #4267B2;
    }
    .fc1{
        color: #4267B2;
    }

    .border2{
        border: 1px solid #00acee;
    }

    .fc2{
        color: #00acee;
    }

    .border3{
        border: 1px solid black;
    }
    .fc3{
        color: #db4a39; 
    }

    .border4{
        border: 1px solid #0e76a8;
    }
    .fc4{
        color: #0e76a8;
    }
    .border5{
        border: 1px solid #e4405f;
    }

    .cpRghtText{
        text-align: center;
        position: relative;
        font-family: "PoppinReg";
        font-size: 1.4rem;
        margin-bottom: 50px;
    }
    .cpRghtText::before{
        content: "";
        height: 2px;
        width: 300px;
        background-color: #707070;
        position: absolute;
        left: 100px; 
        bottom: 0px;
        
    }
    .cpRghtText::after{
        content: "";
        height: 2px;
        width: 300px;
        /* width: calc(100%-50px); */
        background-color: #707070;
        position: absolute;
        bottom: 0px;
        right: 100px;
    }
}

@media (min-width:769px) and (max-width: 1279px){
    .headText{
        margin-top: 18px;
        margin-left: 20px;
        position: relative;
    }
    .headTxtEl{
        font-size: 5rem;
        width: 400px;
    }
    .lappyImg{
        width: 380px;
    }
    .headerContent{
        display: flex;
        justify-content: center;
    }
    .lineIcon{
        width: 100px;
    }
    .printCard{
        max-width: 400px;
        height: 382px;
        border: 1px solid black;
        padding: 30px;
        padding-top: 84px;
        background-color: #FAFAFA;
        border: 0;
        position: relative;
        box-shadow: 0px 53px 73px #232d3c2f;
    }
    .pcardImg{
        position: absolute;
        top: 0;
        left: 30px;
    }
    .pcardCont{
        font-size: 2rem;
        font-family: 'PoppinReg';
        width: 260px;
    }
    .prCard{
        margin-right: 40px;
    }
    .actionLinkContainer{
        flex-wrap: wrap;
    }
    .cpRghtText::before{
        content: "";
        height: 2px;
        width: 200px;
        background-color: #707070;
        position: absolute;
        left: 100px; 
        bottom: 0px;
    }

    .cpRghtText::after{
        content: "";
        height: 2px;
        width: 200px;
        /* width: calc(100%-50px); */
        background-color: #707070;
        position: absolute;
        bottom: 0px;
        right: 100px;
    }
}

/* Table min to max size */
@media (min-width:426px) and (max-width: 768px){
    header{
        /* height: 705px; */
        background: linear-gradient(60deg,#4839B7,#6ED0B5);;
    }
    nav{
        display: flex;
        justify-content: flex-end;
    }
    .loginButton::after{
        content: "\e909";
        font-family: "icomoon";
        color: white;
        font-size: 6.8rem;
        cursor: pointer;
    }
    .loginButton{
        display: flex;
        align-items: center;
        margin-right: 36px;
        margin-top: 40px;
    }
    .btnStyle{
        border: none;
        border-radius: 25px;
        width: 116px;
        height: 49px;
        margin-right: 10px;
        color: #ffffff;
        font-family: "Poppins";
        font-size: 1.8rem;
    }
    .headText{
        margin-top: 18px;
        margin-left: 85px;
        position: relative;
        background-image: url("./media/dottedGrid.png");
        background-repeat: no-repeat;
        background-position: 39px 0px;
        background-size: 160px 180px;
    }
    .headTxtEl{
        font-family: "Poppins";
        font-size: 4rem;
        color: white;
        width: 350px;
    }
    .headerContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    
    .lapCont{
        margin-top: 80px;
        position: relative;
        margin-bottom: 98px;
    }
    .lappyImg{
        width: 380px;
    }
    .lineIcon{
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100px;
    }

    .secTwoContent{
        margin: auto;
        max-width: 740px;
        margin-top: 120px;
    }
     
    .secTwoContent h2{
        max-width: 700px;
        /* height: 174px; */
        font-family: "Poppins";
        font-size: 4rem;
        text-align: center;
        color: #FDA145;
    }

    .cardContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 90px;
        margin-bottom: 118px;
    } 

    .printCard{
        max-width: 390px;
        height: 382px;
        border: 1px solid black;
        padding: 40px;
        padding-top: 84px;
        background-color: #FAFAFA;
        border: 0;
        position: relative;
        box-shadow: 0px 53px 73px #232d3c2f;
    }

    .prCard{
        margin-bottom: 86px;
    } 

    .pcardTitle{
        color: #504450;
        font-size: 3.6rem;
        font-family: "Poppins";
    }

    
    .pcardCont{
        font-size: 2rem;
        font-family: 'PoppinReg';
        width: 313px;
    }

    .pcardImg{
        position: absolute;
        top: 0;
        left: 40px;
    }
    
    .cardBtn{
        width: 180px;
        height: 49px;
        font-family: "Poppins";
        font-size: 1.8rem;
        border-radius: 25px;
        border: 0;
        color: white;
        cursor: pointer;
    }

    .cardBtnStl1{
        margin-top: 23px;
        background-image: linear-gradient(to right,#4A90FF,#FA3BB1);
    }
    .cardBtnStl2{
        margin-top: 48px;
        background-image: linear-gradient(to right,#B79039,#FF8545);
    } 

    .developmentSection{
        background-color: #6430B7;
        /* height: 500px; */
        /* check here */
    }
    .containersec3{
        margin: auto;
        max-width: 650px;
        /* max-width: 800px; */
        padding-top: 50px;
    }
    .sectionTitle3{
        color: white;
        font-family: "Poppins";
        font-size: 4rem;
        max-width: 592px;
        line-height: 60px;
    }
    .contentSection3{
        color: white;
        font-family: "PoppinReg";
        font-size: 1.6rem;
        margin-top: 30px;
    }   
    
    .actionLinkContainer{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin-top: 23px;
    }
    
    .actionBtnStl{
        display: block;
        background-color: transparent;
        border: 1px solid black;
        border-radius: 13px;
        font-family: 'PoppinReg';
        font-size: 2rem;
        color: white;
        text-decoration: none;
        position: relative;
        margin-right: 15px;
        margin-top: 20px;
    }
    
    .btnCont{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    
    
    .abst1{
        border: 1px solid #FFC04A;
        width: 235px;
        height: 69px;
    }
    
    .abst2{
        border: 1px solid #2AFAC2;
        width: 284px;
        height: 69px;
    }
    
    .abst3{
        border: 1px solid #45E2FF;
        width: 321px;
        height: 69px;
        margin-top: 20px;
    }
    .linkBtnTyp{
        margin-top: 26px;
        margin-bottom: 73px;
        padding: 10px;
        width: 180px;
        height: 49px;
        border: none;
        border-radius: 25px;
        color: #311A8B;
        background-image: linear-gradient(to right, #39B2B7,#45E2FF);
        font-family: "Poppins";
        font-size: 1.8rem;
        cursor: pointer;
    }


    /* ----------------------------- */

.footer-content{
    margin:auto;
    width:90%;
}
.footerSection{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-top: 45px;
}

.FooterLinkContainer1{
    width: 300px;
    text-align: center;
    margin: auto;
}

.linkedListCont{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}



.relativeLink{
    display: inline-block;
    border: 1px solid #707070;
    text-decoration: none;
    position: relative;
    font-family: "PoppinReg";
    font-size: 1.1rem;
    border-radius: 12px;
    color: #504450;
}

.rlstl1{
    width: 210px;
    height: 20px;
}

.rlstl2{
    width: 140px;
    height: 21px;
}
.rlstl3{
    width: 150px;
    height: 21px;
}
.rlstl4{
    width: 170px;
    height: 21px;
}
.rlstl5{
    width: 130px;
    height: 21px;
    color: #504450;
    background-color:#EFEDED;
    border: none;
    margin-top: 10px;
}

.linkTxt{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


.linkList{
    list-style-type: none;
    font-family: "Poppins";
    font-size: 2rem;
}

.linkList li{
    font-family: "PoppinReg";
    font-size: 1.6rem;
}

.joinBtnCont{
    margin-top: 10px;
    text-align: center;
}
.joinButton{
    width: 208px;
    height: 52px;
    color: #FA3B6E;
    background-color: #ffffff;
    border: 1px solid #FF4A4A;
    border-radius: 30px;
    font-family: "Poppins";
    font-size: 1.8rem;
}
.socialLinks{
    display: flex;
    justify-content: space-around;
    width: 331px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.font-border{
    border: 1px solid currentColor;
    width: 50px;
    height: 50px;
    margin: 10px;
    position: relative;
    border-radius: 50%;
}

.font-border{
    border: 1px solid currentColor;
    width: 50px;
    height: 50px;
    margin: 10px;
    position: relative;
    /* border-radius: 50%; */
}

.font-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
}

.border1{
    border: 1px solid #4267B2;
}
.fc1{
    color: #4267B2;
}

.border2{
    border: 1px solid #00acee;
}

.fc2{
    color: #00acee;
}
.border3{
    border: 1px solid black;
}

.fc3{
    color: #db4a39; 
}

.border4{
    border: 1px solid #0e76a8;
}
.fc4{
    color: #0e76a8;
}
.border5{
    border: 1px solid #e4405f;
}

.cpRghtText{
    text-align: center;
    position: relative;
    font-family: "PoppinReg";
    font-size: 1.2rem;
    margin-bottom: 50px;
}
.cpRghtText::before{
    content: "";
    height: 2px;
    width: 18%;
    background-color: #707070;
    position: absolute;
    left: 10%; 
    bottom: 0px;
}
.cpRghtText::after{
    content: "";
    height: 2px;
    width: 18%;
    /* width: calc(100%-50px); */
    background-color: #707070;
    position: absolute;
    bottom: 0px;
    right: 10%;
}
}


/* Mobile small to large */
@media (min-width:320px) and (max-width: 425px){
    header{
        height: 600px;
        background-color: blue;
        background: linear-gradient(60deg,#4839B7,#6ED0B5);
    }
    nav{
        display: flex;
        justify-content: flex-end;
    }
    .loginButton::after{
        content: "\e909";
        font-family: "icomoon";
        color: white;
        font-size: 5.2rem;
        cursor: pointer;
    }
    .btnStyle{
        border: none;
        border-radius: 25px;
        width: 100px;
        height: 40px;
        margin-right: 10px;
        color: #ffffff;
        font-family: "Poppins";
        font-size: 1.4rem;
    }
    .loginButton{
        display: flex;
        align-items: center;
        margin-right: 18px;
        margin-top: 40px;
    }
    .headText{
        margin-top: 30px;
        position: relative;
        /* margin: auto;
        width: 80%; */
        background-image: url("./media/dottedGrid.png");
        background-repeat: no-repeat;
        background-position: 39px 0px;
        background-size: 160px 120px;
    }
    .headTxtEl{
        font-family: "Poppins";
        font-size: 3rem;
        color: white;
        width: 250px;
    }   
    /* .dottedGrd{
        position: absolute;
        top: 0;
        left: 20px;
        width: 120px;
    } */
    .headerContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    .lappyImg{
        width: 200px;
    }
    .lapCont{
        margin-top: 80px;
        position: relative;
    }
    .lineIcon{
        position: absolute;
        top: 0px;
        right: 0px;
        width: 80px;
    }

    .secTwoContent{
        margin: auto;
        max-width: 400px;
        margin-top: 120px;
    }
     
    .secTwoContent h2{
        max-width: 425px;
        font-family: "Poppins";
        font-size: 2rem;
        text-align: center;
        color: #FDA145;
    }

    .cardContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 90px;
        margin-bottom: 118px;
    } 

    .printCard{
        max-width: 300px;
        height: 300px;
        border: 1px solid black;
        padding: 30px;
        padding-top: 84px;
        background-color: #FAFAFA;
        border: 0;
        position: relative;
        box-shadow: 0px 53px 73px #232d3c2f;
    }

    .prCard{
        margin-bottom: 86px;
    } 

    .pcardTitle{
        color: #504450;
        font-size: 1.8rem;
        font-family: "Poppins";
    }

    
    .pcardCont{
        font-size: 1.4rem;
        font-family: 'PoppinReg';
        width: 240px;
    }

    .pcardImg{
        position: absolute;
        top: 0;
        left: 30px;
    }
    
    .cardBtn{
        width: 180px;
        height: 49px;
        font-family: "Poppins";
        font-size: 1.4rem;
        border-radius: 25px;
        border: 0;
        color: white;
        cursor: pointer;
    }

    .cardBtnStl1{
        margin-top: 23px;
        background-image: linear-gradient(to right,#4A90FF,#FA3BB1);
    }
    .cardBtnStl2{
        margin-top: 48px;
        background-image: linear-gradient(to right,#B79039,#FF8545);
    } 

    .developmentSection{
        background-color: #6430B7;
    }
    .containersec3{
        margin: auto;
        max-width: 300px;
        /* max-width: 800px; */
        padding-top: 50px;
    }
    .sectionTitle3{
        color: white;
        font-family: "Poppins";
        font-size: 2.5rem;
        width: 300px;
        line-height: 40px;
    }
    .contentSection3{
        color: white;
        font-family: "PoppinReg";
        font-size: 1.4rem;
        margin-top: 30px;
    }   
    
    .actionLinkContainer{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin-top: 23px;
    }
    
    .actionBtnStl{
        display: block;
        background-color: transparent;
        border: 1px solid black;
        border-radius: 13px;
        font-family: 'PoppinReg';
        font-size: 1.4rem;
        color: white;
        text-decoration: none;
        position: relative;
        margin-right: 15px;
    }
    
    .btnCont{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    
    
    .abst1{
        border: 1px solid #FFC04A;
        width: 200px;
        height: 55px;
    }
    
    .abst2{
        border: 1px solid #2AFAC2;
        width: 260px;
        height: 55px;
        margin-top: 20px;
    }
    
    .abst3{
        border: 1px solid #45E2FF;
        width: 321px;
        height: 69px;
        margin-top: 20px;
    }
    .linkBtnTyp{
        margin-top: 26px;
        margin-bottom: 73px;
        padding: 10px;
        width: 180px;
        height: 49px;
        border: none;
        border-radius: 25px;
        color: #311A8B;
        background-image: linear-gradient(to right, #39B2B7,#45E2FF);
        font-family: "Poppins";
        font-size: 1.4rem;
        cursor: pointer;
    }


    .footer-content{
        margin:auto;
        width:90%;
    }
    .footerSection{
        display: flex;
        flex-direction: column;
        margin-top: 45px;
    }

    .FooterLinkContainer1{
        width: 300px;
        text-align: center;
        margin: auto;
    }

    .linkedListCont{
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }



    .relativeLink{
        display: inline-block;
        border: 1px solid #707070;
        text-decoration: none;
        position: relative;
        font-family: "PoppinReg";
        font-size: 1.1rem;
        border-radius: 12px;
        color: #504450;
    }

    .rlstl1{
        width: 210px;
        height: 20px;
    }

    .rlstl2{
        width: 140px;
        height: 21px;
    }
    .rlstl3{
        width: 150px;
        height: 21px;
    }
    .rlstl4{
        width: 170px;
        height: 21px;
    }
    .rlstl5{
        width: 130px;
        height: 21px;
        color: #504450;
        background-color:#EFEDED;
        border: none;
        margin-top: 10px;
    }

    .linkTxt{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }


    .linkList{
        list-style-type: none;
        font-family: "Poppins";
        font-size: 14px;
    }

    .linkList li{
        font-family: "PoppinReg";
        font-size: 1.2rem;
    }

    .joinBtnCont{
        margin-top: 10px;
        text-align: center;
    }
    .joinButton{
        width: 160px;
        height: 40px;
        color: #FA3B6E;
        background-color: #ffffff;
        border: 1px solid #FF4A4A;
        border-radius: 30px;
        font-family: "Poppins";
        font-size: 1.4rem;
    }
    .socialLinks{
        display: flex;
        justify-content: space-around;
        width: 300px;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
        
    }

    .font-border{
        border: 1px solid currentColor;
        width: 50px;
        height: 50px;
        margin: 10px;
        position: relative;
        border-radius: 50%;
    }

    .font-border{
        border: 1px solid currentColor;
        width: 40px;
        height: 40px;
        margin: 10px;
        position: relative;
        /* border-radius: 50%; */
    }

    .font-icon{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 16px;
    }

    .border1{
        border: 1px solid #4267B2;
    }
    .fc1{
        color: #4267B2;
    }

    .border2{
        border: 1px solid #00acee;
    }

    .fc2{
        color: #00acee;
    }
    .border3{
        border: 1px solid black;
    }
    
    .fc3{
        color: #db4a39; 
    }

    .border4{
        border: 1px solid #0e76a8;
    }
    .fc4{
        color: #0e76a8;
    }
    .border5{
        border: 1px solid #e4405f;
    }

    .cpRghtText{
        text-align: center;
        position: relative;
        font-family: "PoppinReg";
        font-size: 0.8rem;
        margin-bottom: 50px;
    }
    .cpRghtText::before{
        content: "";
        height: 2px;
        width: 12%;
        background-color: #707070;
        position: absolute;
        left: 10%; 
        bottom: 0px;  
    }
    .cpRghtText::after{
        content: "";
        height: 2px;
        width: 12%;
        /* width: calc(100%-50px); */
        background-color: #707070;
        position: absolute;
        bottom: 0px;
        right: 10%;
    }
}


